#named_goodgroup {
    float: left;
    margin-top: 0;
    top: 150px;
    bottom: 0;
    width: 200px;
    position: fixed;
    overflow: auto;
}
#named_goodgroup_article {    
    margin-left: 220px;
    margin-top: 0;
}
